@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../assets/fundo-darkmode.jpg);
    background-size: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper{
    display: grid;
    place-items: center; /* centraliza vertical e horizontalmente */
    height: 100vh; /* altura da viewport */
}

#container{
    background-color: rgba(7, 21, 38, 0.9);
    text-align: center;
    width: 55%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 18rem;
}

.title{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitle {
    font-size: 1.4rem;
    color: whitesmoke;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}

.help-calculo1{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.title-calculo1{
    font-weight: 800;
    font-size: 1.2rem;
    text-decoration: underline;
}

.img-calculo1{
    width: 40%;
    padding-bottom: 1rem;
}

.texto-explicacao{
    text-align: left;
}

.help-calculo2{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.img-calculo2{
    width: 47%;
    padding-bottom: 1rem;
}



@media (max-width: 1130px){
    footer{
        width: 35%;
    }
}


@media (max-width: 1000px){
    #container{
        width: 80%;
    }

    footer{
        width: 35%;
    }
}


@media (max-width: 600px){
    .img-calculo1{
        width: 60%;
    }

    .img-calculo2{
        width: 70%;
    }
}


@media (max-width: 550px){
    #container{
        width: 85%;
    }

    footer{
        width: 50%;
    }
}

@media (max-width: 440px){
    .logo{
        width: 15rem;
    }

    .title{
        font-size: 1.6rem;
    }
    
    .subtitle {
        font-size: 1.2rem;
    }

    footer{
        width: 75%;
    }

}

@media (max-width: 350px){
    .logo{
        width: 13rem;
    }

    .title{
        font-size: 1.4rem;
    }
    
    .subtitle {
        font-size: 1rem;
    }

    .btn-primary{
        font-size: 1rem;  
    }

    .help-media-link{
        font-size: 1rem;
    }

    footer{
        width: 75%;
    }

}






